.home_container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  flex-direction: row; 
  align-items: center;
  /* overflow: scroll; */
}

.categorii {
  	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.populare{
  	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
