.container {
    background-color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
/* .container_secunadar{
    background-color: beige;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;  
} */