.footer_container{
    background-color: black !important;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    bottom: 0;
    position:relative;
}


.links_and_company{
    flex-direction: row;
    align-items: flex-start;
}

.icons{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: flex-end;
    
   
}
.icons img{
    width: 30px; 
}
