.footer_container{
    background-color: black;
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.links_and_company{
    flex-direction: row;
    align-items: flex-start;
}

.icons{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: flex-end;
    
   
}
.icons img{
    width: 30px; 
}
